<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>PureHtmlTallarico</display-name>
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/nas?serverTimezone=UTC</param-value>
	</context-param>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>password</param-value>
	</context-param>
	<context-param>
		<param-name>dbDriver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<servlet>
		<servlet-name>CheckLogin</servlet-name>
		<servlet-class>it.polimi.tiw.controllers.CheckLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckLogin</servlet-name>
		<url-pattern>/checklogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckRegistrazione</servlet-name>
		<servlet-class>it.polimi.tiw.controllers.CheckRegistrazione</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckRegistrazione</servlet-name>
		<url-pattern>/checkregistrazione</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateHome</servlet-name>
		<servlet-class>it.polimi.tiw.controllers.CreateHome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateHome</servlet-name>
		<url-pattern>/createhome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateContenuti</servlet-name>
		<servlet-class>it.polimi.tiw.controllers.CreateContenuti</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateContenuti</servlet-name>
		<url-pattern>/createcontenuti</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateDescrizione</servlet-name>
		<servlet-class>it.polimi.tiw.controllers.CreateDescrizione</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateDescrizione</servlet-name>
		<url-pattern>/createdescrizione</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateSposta</servlet-name>
		<servlet-class>it.polimi.tiw.controllers.CreateSposta</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateSposta</servlet-name>
		<url-pattern>/createsposta</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Sposta</servlet-name>
		<servlet-class>it.polimi.tiw.controllers.Sposta</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sposta</servlet-name>
		<url-pattern>/sposta</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateGestioneContenuti</servlet-name>
		<servlet-class>it.polimi.tiw.controllers.CreateGestioneContenuti</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateGestioneContenuti</servlet-name>
		<url-pattern>/creategestionecontenuti</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateFile</servlet-name>
		<servlet-class>it.polimi.tiw.controllers.CreateFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateFile</servlet-name>
		<url-pattern>/createfile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>it.polimi.tiw.controllers.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Index.html</welcome-file>
	</welcome-file-list>
</web-app>